body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-image: url('/assets/images/logojateng.pgn');  ;
}

a {
  color: #FFFFFF;
}

/* header */

.header {
  background: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  height:40px;
 
}
.header .logo {
  float: right;
  font-size: 2em;
  padding: 20px 70px;
  text-decoration: none;
}
.button-holder {
    backgorund : #0099FF;
    float: left;
    width: 100%;
}

.button-holder > div > div, .button-holder > div > a {
    float: left;
    display: block;
    width: 10px;
    height: 15px;
    font-size: 1.3em; 
    padding: 5px 15px;
    margin: 25px 40px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;  
}


.button-holder div a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}

/*CSS untuk Type 1*/
.type-1 {
    background: #096894;
}

.type-1 span {
    position: absolute;
    width: 100%;
    height: 10%;
    display: block;
    top: 5px;
    opacity: 1;
    left: 3px;
    box-sizing: border-box;
    background: #4a8fa3;
    -moz-box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.type-1 span:last-of-type {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    background: #aaa;
}

.type-1:hover span:last-of-type {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: #00FFFF;
    
}

.type-1:hover span:first-of-type {
    background: #4a8fa3;
}

